/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2722c3;
  background: linear-gradient(0deg, rgb(39, 34, 195) 0%, rgb(253, 187, 45) 100%);
  background-size: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: url(../logos/limpieza.jpg);
  /*nav varios*/
}
header nav {
  width: 60%;
  margin: 0;
  padding: 0;
  justify-items: end;
}
header nav ul {
  margin: 0 14px;
  padding: 0;
  font-family: cursive;
  list-style: none;
  justify-content: center;
}
header nav ul li {
  display: flex;
  margin: 15px 0px 5px 15px;
  padding: 0;
  text-decoration: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.hambur {
  width: 100%;
}
.hambur h1 {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  color: white;
}
.hambur .imagen-logo {
  width: 5%;
  height: auto;
  border-radius: 63px;
}

a {
  text-decoration: none;
  color: black;
}

/* banners varios */
.banner {
  background-image: url(../logos/Papeles.jpeg);
  height: 150px;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  margin: 65px 0 20px 0;
}
.banner .p-red {
  font-family: cursive;
  font-size: 2rem;
  color: #E78B48;
  padding: 50px;
}

.local {
  background-image: url(../logos/nuestro-local.jpg);
  height: 150px;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  background-color: #BB3E00;
  margin: 79px 0 20px 0;
}
.local h1 {
  text-shadow: 17px 1px 9px rgba(0, 0, 0, 0.71);
  color: white;
  font-size: 2.5rem;
}
.local h2 {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
}
.local p {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
}

/* ubicacion contacto */
iframe {
  margin-left: 25%;
}

.form_register {
  width: 100%;
  background: rgba(120, 120, 120, 0.75);
  margin: 0 auto;
  padding: 20px 20px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 47%;
  margin: 5% 25%;
}

.col-md-12 {
  margin: 0 0 20px 0;
}

/* grid pagina principal */
.promocion img {
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.promocion h2 {
  color: #E78B48;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  padding: 0 0 10px 0;
}

.promocion {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "texto1 papel3 texto2" "papel1 papel3 papel2" "papel1 texto3 papel2";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 80px 120px repeat(2, 200px);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.titulo {
  grid-area: titulo;
}

.texto1 {
  grid-area: texto1;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.texto3 {
  grid-area: texto3;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.texto2 {
  grid-area: texto2;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  height: 120px;
  padding: 20px 15px 110px 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.papel1 {
  grid-area: papel1;
  margin: 5px 10px 0 0px;
}

.papel3 {
  grid-area: papel3;
}

.papel2 {
  grid-area: papel2;
}

/* formilario de ventas */
.ventas-formulario {
  background-image: url(../logos/papel-ventas.jfif);
  width: auto;
  height: 320px;
  margin-top: 79px;
}
.ventas-formulario h2 {
  color: #DDEB9D;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 2.5rem;
  padding-top: 60px;
}

.call-center {
  margin: 3% 32% 3% 32%;
}

.asesor {
  margin: 3% 3%;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
}

.form-control {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.form-floating {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.form-floating label {
  color: white;
  font-size: 1.5rem;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.footer-ventas {
  margin-top: 7%;
}

/* compras mayoristas */
.banner h1 {
  margin-top: 75px;
  font-family: cursive;
  font-size: 2rem;
  padding: 50px;
}

.mayo-msj h3 {
  font-size: 1.5rem;
  text-align: start;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin: 1% 0 1% 33%;
  display: flex;
  justify-content: start;
}
.mayo-msj textarea {
  width: 34%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.2rem;
  color: #222831;
  margin-left: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mayo-msj .inpu1 {
  width: 10%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  color: #222831;
  margin: 1% 0 1% 47%;
  padding: 10px;
}
.mayo-msj .inpu2 {
  width: 10%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  color: #222831;
  margin-left: 0;
  padding: 10px;
}

.mayoristas h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin: 0 0 20px 0;
}

p {
  font-size: 1.5rem;
  text-align: center;
  color: #222831;
  font-family: cursive;
  padding: 0% 0 20px 0;
}

.mayoristas img {
  width: 90%;
  height: 90%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contac {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mayoristas {
  display: grid;
  grid-template-areas: "cabeza cabeza cabeza" "precio1 mayo2 precio3" "mayo1 mayo2 mayo3" "mayo1 precio2 mayo3";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 80px 170px repeat(2, 250px);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.cabeza {
  grid-area: cabeza;
}

.mayo1 {
  grid-area: mayo1;
}

.mayo2 {
  grid-area: mayo2;
}

.mayo3 {
  grid-area: mayo3;
}

.precio1 {
  grid-area: precio1;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 50px;
}

.precio2 {
  grid-area: precio2;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 10px;
}

.precio3 {
  grid-area: precio3;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 50px 0 50px;
}

/* catalogo masivo */
.masivo img {
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.masivo h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin: 0 0 20px 0;
}

.masivo {
  display: grid;
  grid-template-areas: "higienico higienico higienico higienico" "masivo1 catalogo2 masivo3 catalogo4" "catalogo1 catalogo2 catalogo3 catalogo4" "catalogo1 masivo2 catalogo3 masivo4" "rollo rollo rollo rollo" "catalogo5 masivo6 catalogo7 masivo8" "catalogo5 catalogo6 catalogo7 catalogo8" "masivo5 catalogo6 masivo7 catalogo8";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(8, 200px);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.higienico {
  grid-area: higienico;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.catalogo1 {
  grid-area: catalogo1;
}

.catalogo2 {
  grid-area: catalogo2;
}

.catalogo3 {
  grid-area: catalogo3;
}

.catalogo4 {
  grid-area: catalogo4;
}

.catalogo5 {
  grid-area: catalogo5;
}

.catalogo6 {
  grid-area: catalogo6;
}

.catalogo7 {
  grid-area: catalogo7;
}

.catalogo8 {
  grid-area: catalogo8;
}

.masivo1 {
  grid-area: masivo1;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.masivo2 {
  grid-area: masivo2;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.masivo3 {
  grid-area: masivo3;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.masivo4 {
  grid-area: masivo4;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.masivo5 {
  grid-area: masivo5;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.masivo6 {
  grid-area: masivo6;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.masivo7 {
  grid-area: masivo7;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.masivo8 {
  grid-area: masivo8;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

.rollo {
  grid-area: rollo;
  border-radius: 13px 13px 13px 12px;
  -webkit-border-radius: 13px 13px 13px 12px;
  -moz-border-radius: 13px 13px 13px 12px;
  border: 4px solid #1c0e0c;
  background-image: url(../logos/fondo.jpg);
  font-family: cursive;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 0 0 5px;
}

/* envios internacionales */
.inter-arriba {
  display: grid;
  grid-template-areas: "arriba1 arriba1 arriba2" "arriba1 arriba1 arriba3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 70%;
  max-width: 100vw;
  box-sizing: border-box;
}

.arriba1 {
  grid-area: arriba1;
  width: 100%;
  margin-left: 33%;
  border-radius: 15px;
}

.arriba2 {
  grid-area: arriba2;
  width: 100%;
  font-size: 1.7srem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin: 0 0 20px 300px;
}

.arriba3 {
  grid-area: arriba3;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin: 0 0 100px 300px;
}

.inter img {
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.inter-abajo {
  display: grid;
  grid-template-areas: "abajo1 abajo1 abajo2" "abajo1 abajo1 abajo3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 70%;
  max-width: 100vw;
  box-sizing: border-box;
}

.abajo1 {
  grid-area: abajo1;
  width: 100%;
  margin-left: 33%;
  border-radius: 15px;
}

.abajo2 {
  grid-area: abajo2;
  width: 100%;
  font-size: 1.7srem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin: 0 0 20px 300px;
}

.abajo3 {
  grid-area: abajo3;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin: 0 0 100px 300px;
}

main h1 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
  margin-top: 5%;
  padding-top: 3%;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-family: cursive;
}

/* pie de paginas */
footer {
  background-color: #BB3E00;
  padding: 10px 0;
  color: white;
  font-size: 1.2rem;
  font-family: cursive;
}

footer p {
  font-size: 1.5rem;
  text-align: center;
  color: #222831;
  font-family: cursive;
  padding: 0% 0 20px 0;
}

footer img {
  width: 5%;
  height: auto;
  border-radius: 63px;
  flex-direction: row;
  margin: 0 1% 1% 1%;
}

/* pie de pagina redes sociales */
.redes {
  margin-left: 40%;
  width: 5%;
  border-radius: 50px;
}

.bocaa {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  color: white;
}

/* responsive */
@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header header img {
    width: 20%;
    height: auto;
    border-radius: 63px;
  }
  header nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /* pagina principal */
  .promocion {
    grid-template-areas: "titulo" "texto1" "papel1" "texto3" "papel3" "texto2" "papel2";
    grid-template-columns: 1fr;
    grid-template-areas: 70px repeat(5, 190px) 220px;
  }
  .promocion img {
    width: 80%;
    height: 90%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .promocion span h2 {
    font-size: 1.2rem;
  }
  /* index contacto */
  div iframe {
    width: 50%;
  }
  /* index ventas */
  label {
    display: none;
  }
  input {
    display: none;
  }
  .footer-ventas {
    margin-top: 10%;
  }
  /* index mayoristas */
  .mayoristas {
    grid-template-areas: "cabeza" "precio1" "mayo1" "precio2" "mayo2" "precio3" "mayo3";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 150px 450px 150px 450px;
  }
  /* index masivo */
  .masivo {
    grid-template-areas: "higienico" "masivo1" "catalogo1" "masivo2" "catalogo2" "masivo3" "catalogo3" "masivo4" "catalogo4" "rollo" "masivo5" "catalogo5" "masivo6" "catalogo6" "masivo7" "catalogo7" "masivo8" "catalogo8";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 150px 450px 150px 450px 150px 450px 150px 450px 150px 150px;
  }
  /*envios internacionales */
  .inter-arriba {
    grid-template-areas: "inter" "arriba2" "arriba1" "arriba3";
    grid-template-columns: 1fr;
    grid-template-rows: 0px 100px 210px 210px;
  }
  .inter-abajo {
    grid-template-areas: "abajo2" "abajo1" "abajo3";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 210px 210px;
  }
  .inter {
    margin: 10%;
  }
  .arriba1 {
    margin: 0 0 0 50%;
  }
  .arriba2 {
    margin: 0 0 0 50%;
  }
  .arriba3 {
    margin: 0 0 0 50%;
  }
  .abajo1 {
    margin: 10% 0 0 50%;
  }
  .abajo2 {
    margin: 0 0 0 50%;
  }
  .abajo3 {
    margin: 0 0 0 50%;
  }
}
/* table */
@media (min-width: 481px) and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header header img {
    width: 20%;
    height: auto;
    border-radius: 63px;
  }
  header nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /* pagina principal */
  .promocion {
    grid-template-areas: "titulo" "texto1" "papel1" "texto3" "papel3" "texto2" "papel2";
    grid-template-columns: 1fr;
    grid-template-areas: 70px 400px 500px repeat(4, 190px) 220px;
  }
  .promocion img {
    width: 90%;
    height: 90%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .promocion span h2 {
    font-size: 1.2rem;
  }
  /* index contacto */
  div iframe {
    width: 50%;
  }
  /* index ventas */
  label {
    display: none;
  }
  input {
    display: none;
  }
  .footer-ventas {
    margin-top: 10%;
  }
  /* index mayoristas */
  .mayoristas {
    grid-template-areas: "cabeza" "precio1" "mayo1" "precio2" "mayo2" "precio3" "mayo3";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 150px 900px 150px 900px;
  }
  .inpu1 {
    display: table;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    color: #222831;
  }
  /* index masivo */
  .masivo {
    grid-template-areas: "higienico" "masivo1" "catalogo1" "masivo2" "catalogo2" "masivo3" "catalogo3" "masivo4" "catalogo4" "rollo" "masivo5" "catalogo5" "masivo6" "catalogo6" "masivo7" "catalogo7" "masivo8" "catalogo8";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 150px 800px 150px 800px 150px 800px 150px 800px 150px 150px;
  }
  /*envios internacionales */
  .inter-arriba {
    grid-template-areas: "inter" "arriba2" "arriba1" "arriba3";
    grid-template-columns: 1fr;
    grid-template-rows: 0 220px 280px 230px;
  }
  .inter-abajo {
    grid-template-areas: "abajo2" "abajo1" "abajo3";
    grid-template-columns: 1fr;
    grid-template-rows: 220px 200px 330px;
  }
  .inter {
    margin: 10%;
  }
  .arriba1 {
    margin: 0 0 0 50%;
  }
  .arriba2 {
    margin: 0 0 0 50%;
  }
  .arriba3 {
    margin: 0 0 0 50%;
  }
  .abajo1 {
    margin: 10% 0 0 50%;
  }
  .abajo2 {
    margin: 0 0 0 50%;
  }
  .abajo3 {
    margin: 0 0 0 50%;
  }
}

/*# sourceMappingURL=estilos.css.map */
